@font-face {
    font-family: 'Akaya';
    src: url('../assets/fonts/AkayaTelivigala-Regular.ttf') format('woff2'),
         url('../assets/fonts/AkayaTelivigala-Regular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }

  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf') format('woff2'),
         url('../assets/fonts/Roboto-Regular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }

  @font-face {
    font-family: 'RobotoBold';
    src: url('../assets/fonts/Roboto-Bold.ttf') format('woff2'),
         url('../assets/fonts/Roboto-Bold.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }