body{
    background-color: rgb(103, 208, 177);
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;

}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-family: Akaya;

}

#title{
    flex-direction: column;
}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color: black;
}

a:hover{
    color: rgb(103, 208, 177);
    transition: 0,4s all;
}

#bordahome-btn{
    border: 2px solid black;
    background-color: rgb(103, 208, 177);
    padding: 10px;
    border-radius: 10px;
}

#bordahome-btn:hover{
    background-color: black;
    color: rgb(103, 208, 177);
}

#bordasobre-btn{
    border: 2px solid black;
    background-color: rgb(103, 208, 177);
    padding: 10px;
    border-radius: 10px;
}

#bordasobre-btn:hover{
    background-color: black;
    color: rgb(103, 208, 177);
}

#bordacontato-btn{
    border: 2px solid black;
    background-color: rgb(103, 208, 177);
    padding: 10px;
    border-radius: 10px;
}

#bordacontato-btn:hover{
    background-color: black;
    color: rgb(103, 208, 177);
}

#bordalogin-btn{
    border: 2px solid black;
    background-color: rgb(103, 208, 177);
    padding: 10px;
    border-radius: 10px;
}

#bordalogin-btn:hover{
    background-color: black;
    color: rgb(103, 208, 177);
}

aside{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: -8%;
}

img{
    width: 390px;
   
}


h2{
    font-size: 60px;
    font-family: RobotoBold;
    text-align: center;
    
}

span{
    color: white
}

p{
    font-size: 34px;
    font-family: Roboto;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    width: 40%;
    align-self: center;
}

form [type="submit"]{
    height: 50px;
    width: 30%;
    background-color: black;
    color: rgb(103, 208, 177);
    align-self: center;
}

form [type="submit"]{
    cursor: pointer;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 15px;
    border: none;
    font-size: 15px;

}

footer{
    font-family: RobotoBold;
    text-align: center;
    margin-top: 2%;
}


